<!-- General App Templates -->
<template name="appstate">
	<p class="status status-{{ state }}"><span></span>{{ status }}</p>
</template>


<template name="navigation">
	<ul class="main-menu {{ menustate }}">
		{{#if currentUser}}
			{{> appNav }}
		{{else}}
			{{> publicNav }}
		{{/if}}
	</ul>
</template>

<template name="appNav">
	<li><a href="/">Home</a></li>
	<li><a href="/unread">Unread Messages</a></li>
	<li>
		<a href="/contacts">Contacts</a>
		<ul class="sub-menu">
			<li><a href="/search">Add Contacts</a></li>
			<li><a href="/invites">Invites</a></li>
		</ul>
	</li>
	<li>
		<a href="/groups">Groups</a>
		<ul class="sub-menu">
			<li><a href="/groups/create">Create Groups</a></li>
		</ul>
	</li>
</template>

<template name="publicNav">
	<li><a href="/signin">Signin</a></li>
	<li><a href="/signup">Signup</a></li>
	<li><a href="/about">About</a></li>
	<li><a href="/contacts">Contacts</a></li> <!-- Just for testing. -->
</template>


<template name="footer">
	<p>{{ footerNote }}</p>
</template>


